# comment all modules that are alrady installed.
# double commented modules SHOULD be provided by the system.
# the program complains if not, uncomment in case and re-run check_requitements.py
# this can be OS dependent.
  
asyncio
##base64
datetime
##hashlib
##json
##os
##queue
paho-mqtt
python-dotenv
semver
setuptools
schedule
##signal
##sys
##syslog
termcolor
##time
websockets
